/*
selector {
  name: value;
}
  Selector => It's a tag or class or id and more
  Property => It's a property name and value pair which is saperated by the colon
  Declaration => Terminated property by the semicolon is called Declaration
  Declaration Block => One or more declaration between the start and end curly braces is called Declaration Block
*/

div {
  background-color: darkblue;
  padding: 20px;
}
div h2 {
  color: white;
}
div p {
  color: white;
}
